#root{
    display: flex;
    width: 450px;
    flex-wrap: wrap;
}

.input-box{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

input{
    all: unset;
    border: solid 1px grey;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}

button{
    all: unset;
    width: 80px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.light-box{
    width: 400px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    padding: 10px;
}
.light-box span{
    width: 100%;
    height: 8px;
}

.light-box span:nth-child(1){
    background-color: red;
}
.light-box span:nth-child(2){
    background-color: yellow;
}
.light-box span:nth-child(3){
    background-color: green;
    
}

.on{
    scale: 1.1;
}

p{
    margin: 0;
    width: 400px;
    font-size: 2rem;
    text-align: center;
}