body{
    margin: 0; padding: 0;
    box-sizing: border-box;
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .center{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .document{
    width: 30%; height: 200px;
    margin: 20px auto;
    overflow: auto;
  }
  button{
    background: skyblue;
    outline: none; border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
  }
  button:hover{
    background-color: blue;
  }
  button:disabled{
    background-color: #eee;
  }
  button:disabled:hover{
    background-color: #eee;
  }
  .document::-webkit-scrollbar {
    width: 10px;
    background-color: #eee;
  }
  .document::-webkit-scrollbar-thumb {
    background-color: skyblue;
    border-radius: 10px;
  }