.kitchen{
    width: 100vw;
}

.kitchen-bg{
    height: 50vh;
    background-image: url(../imgs/product/kitchen/bg_kitchen.jpg);
    margin-bottom: 10vh;
}

.kitchen .container{
    border: solid 1px red;
}
/* select */
.select-container{
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
}

.product-select-btn{
    all: unset;
    display: flex;
    align-items: center;
    font-size: 24px;
    width: 210px;
    height: 40px;
    border-bottom: solid 1px gray;
    cursor: pointer;
    padding-bottom: 20px;
}

.product-select-btn::after{
    margin-left: auto;
    content: "\e986";
    font-family: "Material Symbols Outlined";
    transform: rotate(-180deg);
    transition: .2s;
}
.product-select-btn.on::after{
    transform: rotate(0deg);
}
/* select option */
.product-ul{
    position: absolute;
    display: none;
    padding-top: 0px;
    top: 60px;
}

.product-ul li{
    box-sizing: border-box;
    width: 210px;
    background-color: white;
    border: solid 1px gray;
    border-bottom: none;
    border-collapse: collapse;
    padding: 10px;
}
.product-ul li:nth-last-child(1){
    border-bottom: solid 1px gray;
}

.product-ul li:hover{
    background-color: #d6d6d6;
}

/* 상품 컨테이너 */
.product-box{
    display: flex;
    gap: 10px;
}

/* 왼쪽 네비게이션 메뉴 */
.product-box .sub-nav{
    width: 210px;
}

.product-box .sub-nav ul{
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

.product-box .sub-nav ul li{
    font-weight: 300;
    padding-left: 5%;
}

.product-box .tester{
    width: 100%;
}

.product-box .item-box{
    border: solid 1px red;
    display: grid;
    width: calc(100% - 210px);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.product-box .item-box .img-box{
    width: 100%;
}
.product-box .item-box .text-box{
    width: 100%;
    height: 20%;
}