.kitchen{
    width: 100vw;
    height: 100vh;
}

.kitchen-bg{
    height: 50vh;
    background-image: url(../imgs/product/kitchen/bg_kitchen.jpg);
    /* background-image: url(/project/); */
}

.select-container{
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
}

.product-select-btn{
    all: unset;
    font-size: 24px;
    width: 240px;
    display: flex;
    align-items: center;
    height: 40px;
    border: solid 1px gray;
    cursor: pointer;
    
}
.product-select-btn::after{
    margin-left: auto;
    content: "\e986";
    font-family: "Material Symbols Outlined";
    transform: rotate(-180deg);
    transition: .2s;
}
.product-select-btn.on::after{
    transform: rotate(0deg);
}
.product-ul{
    position: absolute;
    display: none;
    padding-top: 2px;
    width: 240px;
    top: 40px;
    border: solid 1px #999;
}

.product-ul li{
    background-color: white;
    padding: 10px;
}

.product-ul li:hover{
    background-color: #d6d6d6;
}






.sub-nav{
    border: solid 1px red;
}

.sub-nav ul{
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

.sub-nav ul li{
    font-weight: 300;
    padding-left: 1%;
}