.product{
    width: 100vw;
}

.product-bg{
    height: 50vh;
    background-image: url(../imgs/product/kitchen/bg_kitchen.jpg);
    margin-bottom: 10vh;
}

.kitchen .container{
    border: solid 1px red;
}
/* select */
.select-box{
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
}

.product-select-btn{
    all: unset;
    display: flex;
    align-items: center;
    font-size: 24px;
    width: 210px;
    height: 40px;
    border-bottom: solid 1px gray;
    cursor: pointer;
    padding-bottom: 16px;
}

.product-select-btn::after{
    margin-left: auto;
    content: "\e986";
    font-family: "Material Symbols Outlined";
    transform: rotate(-180deg);
    transition: .2s;
}
.product-select-btn.on::after{
    transform: rotate(0deg);
}
/* select option */
.product-select-option{
    position: absolute;
    display: none;
    padding-top: 0px;
    top: 60px;
}

.product-select-option li{
    box-sizing: border-box;
    width: 210px;
    background-color: white;
    border: solid 1px gray;
    border-bottom: none;
    padding: 10px;
}
.product-select-option li:nth-last-child(1){
    border-bottom: solid 1px gray;
}

.product-select-option li:hover{
    background-color: #d6d6d6;
}

/* 상품 컨테이너 */
.product-box{
    display: flex;
    gap: 10px;
}

/* 왼쪽 네비게이션 메뉴 */
.product-box .product-nav{
    min-width: 210px;
    padding: 16px 0 0;
}

.data-box button{
    all: unset;
    display: block;
    width: 100%;
}
.data-box button.active,
.data-box button:hover{
    font-weight: bold;
}
/* content: "\e145"; : 플러스 일때 */
/* content: "\e15b"; : 마이너스 일때 */

.product-nav .data-box .plus > button::after{
    float: right;
    content: "\e145";
    font-family: "Material Symbols Outlined";
}

.product-nav .data-box .plus > button.expand::after{
    content: "\e15b";
}


.product-nav .data-box .main-list{
    font-size: 16px;
    margin-top: 16px;
}
.product-nav .data-box .sub-list{
    font-size: 16px;
    margin-left: 12px;
    margin-top: 16px;
}
.product-nav .data-box .plus-list{
    font-size: 14px;
    padding: 8px 10px 12px;
    display: none;
}
.product-nav .data-box .plus-list.on{
    display: block;
}
.product-nav .data-box .plus-list button{
    margin-top: 8px;
}

.product-box .tester{
    width: 100%;
}

.product-box .item-box{
    border: solid 1px red;
    display: grid;
    width: calc(100% - 210px);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.product-box .item-box .img-box{
    width: 100%;
}
.product-box .item-box .text-box{
    width: 100%;
    height: 20%;
}