header{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    height: 70px;
    color: white;
    font-weight: bold;
    width: 100vw;
    z-index: 100;
}

.white-mode,
header:hover{
    background-color: white;
    color: #0e1111;
}

.white-mode .logo-box .logo,
header:hover .logo-box .logo{
    background-image: url(./imgs/icon-younglim-logo.png);
}

/* 900px까지 사용가능 */
header .nav-container{
    box-sizing: border-box;
    position: relative;
    height: 70px;
    max-width: 1280px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}

header nav .logo-box{
    width: 142px;
    height: 30px;
    padding-right: 8px;
}
header nav .logo-box .logo{
    width: 100%;
    height: 100%;
    background-image: url(./imgs/icon-younglim-logo-white.png);
    background-size: cover;
    cursor: pointer;
}

header nav .main-nav ul,
header nav .user-nav ul{
    display: flex;
    flex: content;
    gap: 16px;
}

header nav .main-nav ul li{
    height: auto;
    box-sizing: border-box;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
}

.active{
    border-bottom: 2px solid var(--brand-color-black);
}

header nav .main-nav ul li.active,
header nav .main-nav ul li:hover{
    border-bottom: 2px solid var(--brand-color-black);
}

/* header nav .main-nav ul li.active{
    border-bottom: 2px solid var(--brand-color-black);
} */

header nav .main-nav{
    margin-right: auto;
}

header .depth2{
    font-size: 14px;
    z-index: 0;
    background-color: white;
    color: #0e1111;
    position: relative;
    transition: .3s;
    top: -500px;
    opacity: 0;
}

header .depth2 .nav-container{
    display: flex;
    align-items: flex-start;
    min-height: 350px;
    height: auto;
}

header .depth2 .mainlist-name{
    width: 142px;
    height: 100%;
    color: var(--brand-color-red);
    padding-right: 8px;
}


/* depth2 list 스타일 공유 */
header .depth2 .list-container{
    font-weight: 100;
    min-height: 350px;
    height: 80%;
    width: 140px;
    padding: 0 16px;
    margin-bottom: 50px;
}

header .depth2 .list-container ul{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

header .depth2 .list-container ul li{
    box-sizing: border-box;
    padding: 8px 0;
    cursor: pointer;
}

header .depth2 .depth2-nav{
    border-left: solid 1px #e5e5e5;
}

header .depth2 .depth2-nav ul li:hover{
    font-weight: bold;
}
header .depth2 .add-arrow ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .depth2 .add-arrow ul li:hover:after{
    content: '\e941';
    font-family: 'Material Symbols Outlined';
    position: relative;
    opacity: 0;
    animation: move-right .5s forwards;
}

@keyframes move-right {
    0%{
        opacity: 0;
        left: 0px;
    }
    100%{
        opacity: 1;
        left: 16px;
    }
}

header .depth2 .depth3{
    border-left: solid 1px #e5e5e5;
    min-height: 350px;
    height: auto;
}

main{
    margin: auto;

    width: 100vw;
    height: 100vh;
}