body{
    overflow-x: hidden;
}

.section1{
    width: 100vw;
    height: 100vh;
}

.swiper1{
    width: 100%;
    height: 100%;
}

.swiper1 .swiper-slide{
    width: 100%;
    height: 100%;
}

.section1 .button-container{
    border: solid 1px red;
    max-width: 300px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    top: -10vh;
    z-index: 10;
}

.section1 .swiper-button-prev,
.section1 .swiper-button-next{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.section1 .swiper-pagination{
    all: unset;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
}
.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
}
.swiper-pagination-bullet-active{
    background-color: white;
}

.section1 .swiper-button-prev::after,
.section1 .swiper-button-next::after{
    border: solid 1px blue;
    width: 30px;
    height: 30px;
    color: white;    
}

.section1 .swiper-button-prev{
    left: 0;
}

.section1 .swiper-button-next{
    right: 0;
}

.section1 .swiper-button-play{
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-image: url(./imgs/icons/icon-button-pause.png);
    background-position: center;
    background-size: cover;
    filter: invert(1);
    transform: translateY(-50%);
    right: 10%;
    z-index: 10;
    color: white;
}

/* start */


/* pause */
