.section2{
    width: 100vw;
    height: auto;
}

.section2 .product-box img{
    width: 400px;
    border-radius: 16px;
}

.section2 .container{
    position: relative;
    height: auto;
}

.section2 .indicator-line{
    margin-top: 20px;
    position: relative;
    bottom: 0;
}

.section2 .product-box h5{
    position: absolute;
    padding: 5%;
    bottom: 0;
    color: white;
    font-size: 24px;
}

