body{
    overflow-x: hidden;
}

.section1{
    width: 100vw;
    height: 100vh;
}

.swiper1{
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
}

.swiper1 .swiper-slide{
    width: 100%;
    height: 100%;
}

.section1 .button-container{
    max-width: 300px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    top: -10vh;
    z-index: 10;
}

.section1 .swiper-button-prev,
.section1 .swiper-button-next{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.section1 .swiper-pagination{
    all: unset;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
}
.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
}
.swiper-pagination-bullet-active{
    background-color: white;
}

.section1 .swiper-button-prev::after{
    content: "\e045";
    font-family: "Material Symbols Outlined";
}
.section1 .swiper-button-next::after{
    content: "\e044";
    font-family: "Material Symbols Outlined";
}

.section1 .swiper-button-prev{
    left: 0;
}

.section1 .swiper-button-next{
    right: 0;
}

.section1 .swiper-play{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20%;
    z-index: 10;
}

/* start */
.section1 .swiper-play.play::after{
    content: "\e0ea";
    font-family: "Material Symbols Outlined";
}

/* pause */
.section1 .swiper-play::after{
    color: white;
    content: "\f06a";
    font-family: "Material Symbols Outlined";
    font-size: 40px;
    z-index: 10;
    cursor: pointer;
}