html, body{
    margin: 0;
    padding: 0;
}
body{
    overflow-y: hidden;
}
p, h1, h2, h3, h4, ul, li{
    margin: 0;
    padding: 0;
}
ul, li{
    list-style: none;
}
main{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    
}

section{
    width: 100%;
    height: 100%;
    background-color: #0e1111;
}

.section1{
    box-sizing: border-box;
    height: 100%;
    height: 100%;
    text-align: center;
}

.section1 .img-box{
    position: absolute;
    box-sizing: border-box;
    bottom: 30%;
    left: 10%;
    transform: translate(-10%, 30%);
    width: 50vw;
    height: 60vh;
    overflow: hidden;
    transition: 1s;
}
.section1 .img-box div{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(./imgs/bg_1_main.jpg);
    bottom: 70%;
    background-size: contain;
    /* transition: .5s; */
}

.section1 .text-box{
    position: absolute;
    top: 40%;
    left: 40%;
    box-sizing: border-box;
    width: 60%;
    height: 100%;
}
.section1 .text-box ul{
    display: flex;
    gap: 2rem;
}
.section1 .text-box li{
    border: solid 1px grey;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    padding: 1.2rem;

}
