html, body{
    margin: 0;
    padding: 0;
}
p,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
main{
    width: 100vw;
    height: 100vh;
}

section{
    width: 100%;
    height: 100%;
    /* background-color: #0e1111; */
}

.section1{
    box-sizing: border-box;
    height: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 1px red;
    display: flex;
    padding: 0 10%;
}


.section1 .img-box{
    width: 40%;
    height: 100%;
}
.section1 .text-box{
    box-sizing: border-box;
    border: solid 1px red;
    padding: 10% 0 0 10%;
    width: 60%;
    height: 100%;
}
.section1 .text-box ul{
    display: flex;
    gap: 2rem;
}
.section1 .text-box li{
    border: solid 1px grey;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    padding: 1.2rem;

}
