html{
    --main-grid: 60px;
    --brand-color-red : rgb(218, 67 ,37);
    --brand-color-darkgray : rgb(96, 100, 105);
    --brand-color-gray : #6c6c6c;
    --brand-color-black : #0e1111;
}

html, body{
    margin: 0;
    padding: 0;
}

#grid{
    box-sizing: content-box;
    position: fixed;
    margin-left: var(--main-grid);
    margin-right: var(--main-grid);
    border: solid 1px red;
    z-index: 100;
    width: calc(100vw - var(--main-grid)*2);
    height: 100vh;
}

#second-grid{
    box-sizing: content-box;
    position: fixed;
    margin-left: calc(var(--main-grid)*2);
    margin-right: calc(var(--main-grid)*2);
    border: solid 1px purple;
    z-index: 100;
    width: calc(100vw - var(--main-grid)*4);
    height: 100vh;
}

p, h1, h2, h3, h4, ul, li, a{
    margin: 0;
    padding: 0;
}
h1{ font-size: 4rem; }
h4{ font-size: 1.5rem; }

ul, li{
    list-style: none;
}
a, button, input{
    all: unset;
}

/* header */
header{
    position: absolute;
    padding: 0 calc(var(--main-grid)*2);
    height: 70px;
    z-index: 1;
    color: #fff;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
    width: calc(100% - var(--main-grid)*4);
}

header:hover{
    background-color: #fff;
    text-shadow: none;
    color: var(--brand-color-darkgray);
    transition: .5s;
}

header .main-nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 100;
}
header .main-nav .logo{
    width: 140px;
    height: 30px;
    margin-right: 2.5rem;
    background-image: url(./imgs/icon-younglim-logo-white.png);
    background-size: cover;
    cursor: pointer;
}

header:hover .main-nav .logo{
    background-image: url(./imgs/icon-younglim-logo.png);
}

nav ul li{
    cursor: pointer;
}

header .main-nav .product-nav,
header .main-nav .user-nav{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 1.5rem;
    height: 30px;
}

header .main-nav .product-nav{
    font-weight: bold;
    margin-right: auto;
}

header .main-nav .product-nav .under-line{
    position: absolute;
    width: 0;
    border: solid 1px var(--brand-color-darkgray);
    left: 0;
    top: 0;
    transition: .3s;
}


header nav .user-nav{
    line-height: .8rem;
}

header .depth2{
    position: absolute;
    padding: .5rem calc(var(--main-grid)*2) 70px;
    top: 0px;
    left: 0;
    background-color: transparent;
    width: 100vw;
    height: auto;
    color: #0e1111;
    transition: .2s;
    z-index: 0;
}

header .depth2 .sub{
    display: none;
}

header .depth2 .sub.on ul{
    border: solid 1px red;
}

header .depth2 .product-nav ul{
    border-right: solid 1px #e5e5e5;
    padding-right: .5rem;
}
header .depth2 .product-nav ul li{
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
    align-items: center;
}
header .depth2 .product-nav ul li span{
    position: relative;
    opacity: 0;
}

header .depth2 .product-nav ul li:hover span{
    animation: moveRight .2s forwards;
}

@keyframes moveRight {
    0%{
        left: -1rem;
        opacity: 0;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}

header .depth2 p{
    width: 140px;
    margin-right: 2rem;
    font-size: 14px;
    color: var(--brand-color-red);
    font-weight: bold;
}

header .depth2 ul{
    border-left: solid 1px #e5e5e5;
    width: 180px;
    height: 300px;
    padding: 0 1rem;
}
header .depth2 ul li{
    padding: .5rem 0;
    font-size: 14px;
}

header .depth2 .sub.on{
    display: flex;
}



/* main */
main{
    background-color: #0e1111;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 100%;
    /* background-color: #0e1111; */
}

.section1{
    /* margin: var(--main-grid); */
    box-sizing: border-box;
    height: 100%;
    height: 100%;
    color: #fff;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);

    container-name : img-box;
    container-type : inline-size;
}

.section1 .img-box{
    position: absolute;
    box-sizing: border-box;
    /* transition: 1s; */
    width: 100vw;
    height: 100vh;
    background-image: url(./imgs/bg_1_main.jpg);
    background-repeat: no-repeat;
    background-position-y: -15vh;
    background-size: cover;
}

@container (max-width : 1919px){
    .img-box{
        background-position-y: 0px;
        background-size: cover;
    }
}

.section1 .img-box .main-img{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    filter: invert(.1);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.section1 .text-box{
    position: absolute;
    top: 40%;
    left: calc(var(--main-grid)*2);
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
}

.section1 .text-box button{  
    margin-top: 1.5rem;
    border: solid 1px #eee;
    width: fit-content;
    padding: .5rem 2rem;
    cursor: pointer;
}

.section1 .text-box li{
    border: solid 1px grey;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    padding: 1.2rem;
}
.section2{
    border: solid 1px blue;
}