body{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.tab-box{
    display: flex;
    gap: 12px;
    height: fit-content;
    margin-bottom: 50px;
}
.tab-box h2{
    box-sizing: border-box;
    padding: 2px 0;
    cursor: pointer;
    border-bottom: solid 2px transparent;
}
.tab-box h2.on,
.tab-box h2:hover{
    border-bottom: solid 2px black;
}

.img-box{
    width: 100%;
    min-height: 150vh;
    position: relative;
    transition: 2s;
}


.img-box img{
    width: 100%;
    max-height: 60vh;
    transition: 3s;
}

.special{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.special h1{
    margin: 0;
    padding: 0;
    font-size: 100px;
}

.content-box{
    position: absolute;
    transition: 1s;
}

.text-box{
    max-width: 400px;
    padding-left: 5%;
    color: white;
    width: 80%;
}

.img-box .box1 h4{
    margin: 10px 0;
    font-size: 24px;
}

.img-box .box1{
    height: fit-content;
    background-color: purple;
    padding-bottom: 10px;
}

.img-box.modern .box1{
    width: 60%;
    /* right: 0; */
    left: 40%;
    top: 0;
}

.img-box.modern .box2{
    width: 30%;
    left: 0;
    top: 20%;
}

.img-box.modern .box3{
    width: 40%;
    left: 35%;
    top: 60%;
}

.img-box.natural .box1{
    width: 50%;
    top: 5%;
    left: 0;
}

.img-box.natural .box2{
    width: 30%;
    left: 35%;
    top: 55%;
}

.img-box.natural .box3{
    width: 40%;
    top: 0%;
    left: 60%;
}

.img-box.classic .box1{
    width: 60%;
    top: 15%;
    left: 40%;
}

.img-box.classic .box2{
    width: 25%;
    left: 10%;
    top: 45%;

}

.img-box.classic .box3{
    width: 30%;
    top: 0%;
    left: 0;
}

.img-box.unique .box1{
    width: 70%;
    top: 0%;
    left: 30%; 
}

.img-box.unique .box2{
    width: 25%;
    left: 0%;
    top: 10%;
}

.img-box.unique .box3{
    width: 30%;
    top: 60%;
    left: 45%;
}



